* {
    box-sizing: 0;
    padding: 0;
    margin: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.container_header {
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

header {
    background-color: #1e1c21;
    height: 95px;
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
}

.logo_header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 90px;
}

.nav_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    height: 100%;
}

.nav_header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.banner {
    background: linear-gradient(to right, rgba(35, 0, 140, 1) 0%, rgba(68, 0, 141, 1) 13%, rgba(96, 0, 141, 1) 27%, rgba(199, 95, 0, 1) 44%, rgba(16, 2, 2, 1) 79%, rgba(1, 0, 0, 1) 100%);
}

.container_banner {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin-top: 85px;
}

.banner img {
    width: auto;
    height: auto;
    margin-top: 60px;
    margin-left: 60px;
    margin-bottom: 60px;
}

.texto_banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 480px;
    margin-right: 30px;
}

.texto_banner h1 {
    font-weight: 700;
    font-size: 70px;
    color: white;
    text-align: center;
}

.texto_banner span {
    margin: 20px 0px;
    font-weight: 700;
    color: white;
    font-size: 24px;
    text-align: center;
}

.texto_banner a {
    display: flex;
    align-items: center;
    padding-left: 10px;
    text-transform: uppercase;
    text-decoration: none;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    width: 300px;
    height: 70px;
    color: white;
    background-color: #4300ff;
    border-radius: 10px;
}

.container_jogos {
    display: flex;
    height: 95px;
    background-color: #000;
}

.nav_jogos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container_ligas {
    background-image: url(/imagens/banner_ligas.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 500px;
}

.box_ligas {
    display: flex;
    justify-content: center;
    background-color: #000;
    clip-path: polygon(100% 0, 100% 89%, 0 100%, 0 11%);
    height: 500px;
    position: relative;
}

.texto_ligas {
    color: #fff;
    height: 500px;
    padding: 100px;
}

.texto_ligas span {
    font-size: 45px;
}

.texto_ligas p {
    font-size: 18px;
    width: 610px;
    text-align: justify;
    margin: 30px 0;
}

.texto_ligas a {
    display: flex;
    align-items: center;
    padding-left: 10px;
    text-transform: uppercase;
    text-decoration: none;
    justify-content: center;
    font-size: 21px;
    font-weight: 700;
    width: 290px;
    height: 70px;
    color: white;
    background-color: #61237F;
    border-radius: 10px;
}

.banner_ligas img {
    display: flex;
    position: absolute;
    width: 294px;
    left: 1200px;
    bottom: 34px;
}

.partidas {
    width: 100%;
    height: 110px;
    background-color: black;
}

.container_partidas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 25px;
}

.ao_vivo {
    display: flex;
    height: 80%;
    width: 400px;
    text-decoration: none;
    border-right: 2px solid white;
    align-items: center;
    padding-right: 10px;
    margin-right: 30px;
}

.ao_vivo h2 {
    text-transform: uppercase;
    color: white;
    font-size: 25px;
    font-weight: 700;
}

.em_breve {
    display: flex;
    height: 80%;
    text-decoration: none;
    align-items: center;
    width: 752px;
}

.em_breve h2 {
    text-transform: uppercase;
    color: white;
    font-size: 25px;
    font-weight: 700;
}

.partida {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 310px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 25px;
    font-weight: 400;
}

.partida img {
    width: 50px;
    height: 50px;
}

.posicionamento_partidas {
    display: flex;
}

.banner_noticias {
    width: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(34, 33, 33, 1) 43%, rgba(0, 0, 0, 1) 99%, rgba(65, 65, 65, 1) 100%);
    height: 845px;
}

.container_noticias {
    height: 740px;
    width: 825px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.noticias {
    display: flex;
    justify-content: space-between;
}

.noticias img {
    width: 215px;
    height: 145px;
}

.noticias h2 {
    color: #fff;
    font-size: 30px;
    margin: 15px 0;
}

article {
    box-shadow: 3px 4px 34px 13px rgba(0, 0, 0, 0.75);
}

.informacoes {
    background: linear-gradient(to bottom, rgba(48, 48, 48, 1) 0%, rgba(48, 48, 48, 1) 65%, rgba(0, 0, 0, 1) 100%);
    width: 215px;
    height: 210px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.informacoes h3 {
    color: #fff;
    text-decoration: none;
    font-size: 22px;
}

.informacoes p {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin: 15px;
}

.horarios {
    height: 100%;
    width: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.horarios h2 {
    color: white;
    font-weight: 700;
    font-size: 30px;
}

.horarios_box {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(43, 43, 43, 1) 27%, rgba(72, 72, 72, 1) 49%, rgba(49, 49, 49, 1) 58%, rgba(1, 1, 1, 1) 100%);
    height: 730px;
    width: 290px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    box-shadow: 3px 4px 34px 13px rgba(0, 0, 0, 0.75);
}

.info_partida {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: white;
}

.jogo_partida {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
}

.jogo_partida img {
    width: 30px;
    height: 30px
}

footer {
    height: 250px;
    width: 100%;
    background-color: #000;
}

.container_footer {
    height: 100%;
}

.box_footer {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_footer {
    display: flex;
    flex-direction: column;
    height: 125px;
}

.nav_footer a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.nav_footer ul {
    color: #fff;
}

.nav_footer span {
    color: #fff;
    font-size: 27px;
}

.formulario_newsletter {
    width: 100%;
    display: flex;
    height: auto;
    margin-bottom: 40px;
}

.campo_newsletter {
    height: 36px;
    width: 250px;
    background-color: #fff;
    font-size: 20px;
}

.botao_newsletter {
    height: 40px;
    width: 150px;
    background-color: #001f70;
    color: #fff;
    font-size: 23px;
}

.redes_sociais {
    display: flex;
    width: 345px;
    height: auto;
    align-items: center;
    justify-content: space-between;
}

.redes_sociais span {
    font-size: 24px;
    color: #fff;
}

.redes_sociais img {
    width: 47px;
    height: 47px;
}


/* CADASTRO TIMES */

.container {
    width: 1200px;
    margin: 0 auto;
}

.container_header {
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

header {
    background-color: #1e1c21;
    height: 95px;
    width: 100%;
}

.logo_header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 90px;
}

.nav_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    height: 100%;
}

.nav_header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.banner_cadastro {
    background-image: url(../imagens/a.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_cadastro h1 {
    font-size: 40px;
    color: #fff;
}

.cadastro {
    height: 780px;
    background-color: #1e1c21;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.box_cadastro {
    height: 340px;
    width: 740px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 50px 0;
    background: linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);
    box-shadow: 3px 4px 34px 13px rgba(0, 0, 0, 0.75);
    align-items: center;
}

.box_cadastro label {
    color: #fff;
    font-size: 20px;
}

.box_cadastro input {
    display: flex;
    justify-content: space-evenly;
}


/*.container_cadastro {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 575px;
}

.container_cadastro span {
    color: #fff;
    font-size: 20px;
}*/

.nome {
    width: 575px;
    height: 30px;
    background-color: #ababab;
}

.emblema {
    width: 146px;
    height: 30px;
}

.escolha_emblema {
    width: 575px;
}

.botao_cadastrar {
    background-color: #188086;
    width: 260px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao_cadastrar a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 19px;
}

h2 {
    color: #fff;
    font-size: 40px;
}

.times_cadastrados {
    margin-top: 59px;
}

.times_cadastrados h2 {
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 2em;
    text-align: center;
}

.tabela_times {
    width: 770px;
    height: 175px;
    border: solid white;
    border-radius: 1px;
    margin-top: 28px;
}

.tabela_header {
    background-color: black;
}

.tabela_times th {
    color: white;
    font-size: 1.3em;
    text-transform: capitalize;
    border-bottom: solid white;
}

.tabela_times td {
    color: white;
    font-size: 1em;
    text-transform: capitalize;
}

footer {
    height: 250px;
    width: 100%;
    background-color: #000;
}

.container_footer {
    height: 100%;
}

.box_footer {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_footer {
    display: flex;
    flex-direction: column;
    height: 125px;
}

.nav_footer a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.nav_footer ul {
    color: #fff;
}

.nav_footer span {
    color: #fff;
    font-size: 27px;
}

.formulario_newsletter {
    width: 100%;
    display: flex;
    height: auto;
    margin-bottom: 40px;
}

.campo_newsletter {
    height: 36px;
    width: 250px;
    background-color: #fff;
    font-size: 20px;
}

.botao_newsletter {
    height: 40px;
    width: 150px;
    background-color: #001f70;
    color: #fff;
    font-size: 23px;
}

.redes_sociais {
    display: flex;
    width: 345px;
    height: auto;
    align-items: center;
    justify-content: space-between;
}

.redes_sociais span {
    font-size: 24px;
    color: #fff;
}

.redes_sociais img {
    width: 47px;
    height: 47px;
}


/* CADASTRO JOGADOR */

.container {
    width: 1200px;
    margin: 0 auto;
}

.container_header {
    background-color: #1e1c21;
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

header {
    background-color: #1e1c21;
    height: 95px;
    width: 100%;
}

.logo_header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 90px;
}

.nav_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    height: 100%;
}

.nav_header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
}
.nav_header a:hover{
    color: grey;
    transform: scale(1.1);
}

.banner_cadastro2 {
    background-image: url(../imagens/b.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_cadastro2 h1 {
    font-size: 40px;
    color: #fff;
}

.cadastro {
    height: 1250px;
    background-color: #1e1c21;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.box_cadastro {
    height: 640px;
    width: 770px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 50px 0;
    background: linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);
    box-shadow: 3px 4px 34px 13px rgba(0, 0, 0, 0.75);
    align-items: center;
}

.box_cadastro label {
    color: #fff;
    font-size: 20px;
}

.box_cadastro input {
    display: flex;
    justify-content: space-evenly;
}

.nome {
    width: 575px;
    height: 30px;
    background-color: #ababab;
}

.equipe {
    width: 575px;
    height: 30px;
    background-color: #ababab;
}

.email {
    width: 575px;
    height: 30px;
}

.senha {
    width: 575px;
    height: 30px;
    background-color: #ababab;
}

.escolha_equipe {
    display: flex;
    flex-direction: column;
    width: 575px;
    height: 30px;
    color: #ababab;
}

.botao_cadastrar {
    background-color: #D6A061;
    width: 260px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao_cadastrar a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 19px;
}

h2 {
    color: #fff;
    font-size: 40px;
    text-align: center;
}

.tabela_jogadores {
    width: 770px;
    height: 175px;
    border: solid white;
    border-collapse: collapse;
    text-align: left;
}

.tabela_header {
    background-color: black;
}

.tabela_jogadores th {
    color: white;
    font-size: 1.3em;
    text-transform: capitalize;
    border-bottom: solid white;
    padding-left: 25px;
}

.tabela_jogadores tr {
    color: white;
    font-size: 1em;
    text-transform: capitalize;
}

.tabela_jogadores td {
    padding-left: 25px;
}

footer {
    height: 250px;
    width: 100%;
    background-color: #000;
}

.container_footer {
    height: 100%;
}

.box_footer {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box_nav {
    display: flex;
    justify-content: space-between;
    width: 330px;
}

.nav_footer {
    display: flex;
    flex-direction: column;
    height: 125px;
}

.nav_footer a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.nav_footer ul {
    color: #fff;
}

.nav_footer span {
    color: #fff;
    font-size: 27px;
}

.formulario_newsletter {
    width: 100%;
    display: flex;
    height: auto;
    margin-bottom: 40px;
}

.campo_newsletter {
    height: 36px;
    width: 250px;
    background-color: #fff;
    font-size: 20px;
}

.botao_newsletter {
    height: 40px;
    width: 150px;
    background-color: #001f70;
    color: #fff;
    font-size: 23px;
}

.redes_sociais {
    display: flex;
    width: 345px;
    height: auto;
    align-items: center;
    justify-content: space-between;
}

.redes_sociais span {
    font-size: 24px;
    color: #fff;
}

.redes_sociais img {
    width: 47px;
    height: 47px;
}

@media (max-width:768px) {
    .container {
        width: 80vw;
    }
    .nav_header {
        display: none;
        height: 300px;
        width: 100%;
        flex-direction: column;
        position: absolute;
        justify-content: space-evenly;
        top: 60px;
        left: 0;
        background-color: #1e1c21;
    }
    .container_header {
        align-items: center;
        justify-content: space-between;
    }
    .btn_menu i {
        color: #fff;
        font-size: 30px;
    }
    .banner_cadastro2 {
        background-size: cover;
    }
    .box_cadastro {
        width: 80vw;
    }
    .nome {
        width: 60vw;
    }
    .equipe {
        width: 60vw;
    }
    .email {
        width: 60vw;
    }
    .senha {
        width: 60vw;
    }
    .escolha_equipe {
        width: 60vw;
    }
    .tabela_jogadores {
        width: 80vw;
    }
    footer {
        height: 450px;
    }
    .box_footer {
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
    .erro {
        color: #fc1e8b;
    }
    .zoom:hover {
        color: grey;
        transform: scale(1.1);
    }

}