@{
    ViewData["Title"] = "Home Page";
}


<section id="inicio" class="banner">
    <div class="container_banner">
        <img src="/imagens/valorant-database-radiants-1024x527 1.png">
        <div class="texto_banner">
            <h1>Liga E-Players</h1>
            <span>O maior portal de campeonatos online</span>
            <a class="zoom" asp-area="" asp-controller="Equipe" asp-action="Index">inscreva-se</a>
        </div>
    </div>
</section>
<section class="container_jogos">
    <nav class="nav_jogos container">
        <img src="/imagens/formula-1-logo.png">
        <img src="/imagens/logo-lol.png">
        <img src="/imagens/Counter-Strike-Logo.png">
        <img src="/imagens/valorant-logo.png">
        <img src="/imagens/FIFA_logo.png">
    </nav>
</section>
<section id="campeonatos" class="container_ligas">
    <div class="box_ligas">
        <div class="texto_ligas container">
            <span>Como Participar Das Ligas?</span>
            <p>Como participar das ligas? Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e
                de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma
                bandeja de tipos e os embaralhou
                para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao
                salto para a editoração eletrônica, permanecendo essencialmente Como participar das ligas? Lorem Ipsum é
                simplesmente uma simulação
                de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um
                impressor desconhecido
            </p>
            <a class="navbar-brand" asp-area="" asp-controller="Jogador" asp-action="Index">Cadastro Jogadores</a>
            <div class="banner_ligas">
                <img src="/imagens/V_AGENTS_587x900_Omen.png">
            </div>
        </div>
    </div>
</section>
<section id="partidas" class="partidas">
    <div class="container">
        <div class="container_partidas">
            <div class="ao_vivo">
                <h2>Ao vivo</h2>
                <a href="#" class="partida">
                    <span>sk</span>
                    <img src="/imagens/sk-logo.png">
                    <span>vs</span>
                    <img src="/imagens/fla-logo.png">
                    <span>fla</span>
                </a>
            </div>
            <div class="em_breve">
                <h2>Em breve</h2>
                <div class="partida">
                    <span>sk</span>
                    <img src="/imagens/sk-logo.png">
                    <span>vs</span>
                    <img src="/imagens/fla-logo.png">
                    <span>fla</span>
                </div>
                <div class="partida">
                    <span>sk</span>
                    <img src="/imagens/sk-logo.png">
                    <span>vs</span>
                    <img src="/imagens/fla-logo.png">
                    <span>fla</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="noticias" class="banner_noticias">
    <div class="posicionamento_partidas">
        <section class="noticias container">
            <div>
                <h2>Noticias</h2>

                <div class="container_noticias">
                    <article>
                        <img src="/imagens/player.jpg">
                        <div class="informacoes">
                            <h3>Titulo da noticia</h3>
                            <p> Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impresso
                            </p>
                        </div>
                    </article>
                    <article>
                        <img src="/imagens/player.jpg">
                        <div class="informacoes">
                            <h3>Titulo da noticia</h3>
                            <p> Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impresso
                            </p>
                        </div>
                    </article>
                    <article>
                        <img src="/imagens/player.jpg">
                        <div class="informacoes">
                            <h3>Titulo da noticia</h3>
                            <p> Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impresso
                            </p>
                        </div>
                    </article>
                    <article>
                        <img src="/imagens/player.jpg">
                        <div class="informacoes">
                            <h3>Titulo da noticia</h3>
                            <p> Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impresso
                            </p>
                        </div>
                    </article>
                    <article>
                        <img src="/imagens/player.jpg">
                        <div class="informacoes">
                            <h3>Titulo da noticia</h3>
                            <p> Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impresso
                            </p>
                        </div>
                    </article>
                    <article>
                        <img src="/imagens/player.jpg">
                        <div class="informacoes">
                            <h3>Titulo da noticia</h3>
                            <p> Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impresso
                            </p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="horarios">
                <h2>Próximos jogos</h2>
                <div class="horarios_box">
                    <div class="info_partida">
                        <div class="jogo_partida">
                            <span>sk</span>
                            <img src="/imagens/sk-logo.png">
                            <span>vs</span>
                            <img src="/imagens/fla-logo.png">
                            <span>fla</span>
                        </div>
                        <span>horário e data</span>
                    </div>
                    <div class="info_partida">
                        <div class="jogo_partida">
                            <span>sk</span>
                            <img src="/imagens/sk-logo.png">
                            <span>vs</span>
                            <img src="/imagens/fla-logo.png">
                            <span>fla</span>
                        </div>
                        <span>horário e data</span>
                    </div>
                    <div class="info_partida">
                        <div class="jogo_partida">
                            <span>sk</span>
                            <img src="/imagens/sk-logo.png">
                            <span>vs</span>
                            <img src="/imagens/fla-logo.png">
                            <span>fla</span>
                        </div>
                        <span>horário e data</span>
                    </div>
                    <div class="info_partida">
                        <div class="jogo_partida">
                            <span>sk</span>
                            <img src="/imagens/sk-logo.png">
                            <span>vs</span>
                            <img src="/imagens/fla-logo.png">
                            <span>fla</span>
                        </div>
                        <span>horário e data</span>
                    </div>
                    <div class="info_partida">
                        <div class="jogo_partida">
                            <span>sk</span>
                            <img src="/imagens/sk-logo.png">
                            <span>vs</span>
                            <img src="/imagens/fla-logo.png">
                            <span>fla</span>
                        </div>
                        <span>horário e data</span>
                    </div>
                    <div class="info_partida">
                        <div class="jogo_partida">
                            <span>sk</span>
                            <img src="/imagens/sk-logo.png">
                            <span>vs</span>
                            <img src="/imagens/fla-logo.png">
                            <span>fla</span>
                        </div>
                        <span>horário e data</span>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>


